{% extends "base.html" %}
{% block title %}checklists{% endblock %}
{% block head %}
        <!-- Typeahead -->
        <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="/static/scripts/typeahead_prefetch.js"></script>
        <script src="/static/scripts/typeahead.min.js/typeahead.bundle.min.js"></script>
        <script src="/static/scripts/typeahead.min.js/typeahead.jquery.min.js"></script>
        <script src="/static/scripts/typeahead.min.js/bloodhound.min.js"></script>
        <!-- End Typeahead -->
{% endblock %}
{% block content %}
    <div id="prefetch-find">
        <!-- Typeahead -->
        <input autofocus class="typeahead" type="text" placeholder="Search State or County" />
    </div>
    <div id="previous-regions">
        {% if previous != None and previous|length > 0 %}
            <ul>
                <li>Previous Searches:</li>
                {% for item in previous %}
                    {% if item != None %}
                        <li><a href="/{{ page }}/{{ item }}">{{ item }}</a></li>
                    {% endif %}
                {% endfor %}
                <li><a href="/clear">[Clear]</a></li>
            </ul>
        {% endif %}
    </div>
{% endblock %}