{% extends "base.html" %}
{% block title %}home{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    <div class="list-group">
        <p><h6>Welcome!</h6></p>
        <a href="/checklists" class="list-group-item list-group-item-action">checklists</a>
        <a href="/notables" class="list-group-item list-group-item-action">notables</a>
        <a href="#" class="list-group-item list-group-item-action disabled">&nbsp;</a>
        <a href="/hotspots" class="list-group-item list-group-item-action">hotspots</a>
        <a href="#" class="list-group-item list-group-item-action disabled">&nbsp;</a>
        <a href="/taxa" class="list-group-item list-group-item-action">taxa</a>
        <a href="/extinct" class="list-group-item list-group-item-action">extinct</a>
    </div>
{% endblock %}